@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/OpenSans/OpenSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/OpenSans/OpenSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/OpenSans/OpenSans-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('./assets/fonts/Oswald/Oswald-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('./assets/fonts/Oswald/Oswald-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('./assets/fonts/Oswald/Oswald-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('./assets/fonts/Oswald/Oswald-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('./assets/fonts/Oswald/Oswald-Heavy.ttf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not(
  [fill="none"],
  [fill^="url"]
)) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not(
  [stroke="none"],
  [stroke^="url"]
)) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.hero {
  background: url('./assets/images/hero-bg.jpg') no-repeat center/cover;
  height: 900px;
}

.container {
  max-width: calc(1180px + 10px * 2);
  padding-inline: 10px;
  margin-inline: auto;
}

.hero__inner {
  padding-block: 74px 20px;
  height: 900px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__list {
  display: flex;
  column-gap: 58px;
}

.header__link {
  color: #fff;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}

.header__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 18px;
  height: 2px;
  background-color: #4CAF50;
  transition-duration: 0.3s;
}

.header__link:hover::after {
  width: 100%;
}

.hero__heading {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  text-align: center;
}

.hero__title {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 72px;
  font-weight: 500;
}

.hero__subtitle {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.hero__pagination {
  display: flex;
  column-gap: 9px;
  align-items: flex-end;
}

.hero__pagination-item {
  color: #fff;
  opacity: 0.4;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.hero__pagination-item--current {
  opacity: 1;
  font-size: 36px;
  line-height: 1;
  position: relative;
  z-index: 1;
}

.hero__pagination-item--current::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -2px;
  width: 14px;
  height: 2px;
  background-color: #4CAF50;
}

.hero__pagination-item--current::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 2px;
  z-index: 0;
  width: 19px;
  height: 2px;
  z-index: -1;
  background-color: #4CAF50;
}

.about {
  padding-block: 226px 200px;
}

.about__inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 400px;
}

.about__left-content {
  position: relative;
  z-index: 1;
}

.about__left-content::after {
  content: url('./assets/images/about-man.jpg');
  width: 310px;
  height: 390px;
  position: absolute;
  top: -78px;
  right: -194px;
  z-index: -1;
}

.about__left-content + .about__subtitle {
  align-self: flex-end;
  margin-top: 32px;
  margin-left: 50px;
  position: relative;
}

.about__left-content + .about__subtitle::after {
  content: url('./assets/images/about-greenbox-stand-man.png');
  width: 520px;
  height: 500px;
  position: absolute;
  top: -342px;
  right: 260px;
  z-index: -1;
}

.about__title {
  max-width: 230px;
  display: flex;
  flex-direction: column;
  font-size: 36px;
  font-family: 'Oswald', sans-serif;
  color: #333;
  margin-left: -30px;
  margin-bottom: 32px;
}

.about__title span {
  font-size: 42px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #504E4E;
}

.about__subtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #5B5858;
  position: relative;
  max-width: 280px;
}

.about__subtitle::before {
  content: '';
  position: absolute;
  top: 14px;
  left: -30px;
  width: 20px;
  height: 2px;
  background-color: #353535;
}

.services {
  background-color: #FBFBFB;
  padding-block: 136px;
}

.title {
  color: #252525;
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  margin-bottom: 94px;
  position: relative;
}

.title::before {
  content: '';
  width: 45px;
  height: 2px;
  background-color: #252525;
  position: absolute;
  bottom: -7px;
  left: 0;
}

.services__cards {
  display: flex;
  column-gap: 28px;
}

.services__card {
  display: flex;
  flex-direction: column;
  padding: 50px 45px 35px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
}

.services__card::before {
  content: '';
  width: 100%;
  height: 0;
  background-color: #70BF73;
  position: absolute;
  bottom: 0;
  left: 0;
  transition-duration: 0.3s;
}

.services__card:hover::before {
  height: 3px;
}

.services__card-header {
  display: flex;
  justify-content: space-between;
}

.services__card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #252525;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 36px;
}

.services__card-title::before {
  content: '';
  width: 35px;
  height: 2px;
  background-color: #252525;
  position: absolute;
  bottom: -15px;
  left: 0;
}

.services__card-icon {
  padding: 12px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 20px 0 #DBDBDB;
}

.services__card-icon svg {
  color: #BCBCBC;
  fill: currentColor;
  transition-duration: 0.3s;
}

.services__card-desc {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #777;
  margin-bottom: 20px;
}

.services__card-link {
  color: #252525;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 10px;
  opacity: 0.5;
  width: 48px;
  text-decoration: none;
  transition-duration: 0.3s;
}

.services__card-link:hover {
  opacity: 1;
}

.services__card:hover svg {
  color: #252525;
}

.works {
  padding-block: 164px 174px;
}
